.color-primary {
  background-color: $color-primary;
}

.color-secondary {
  background-color: $color-secondary;
}

.mt-0 {
  margin-top: $spacing-0 !important;
}

.mt-half {
  margin-top: $spacing-half !important;
}

.mt-2 {
  margin-top: $spacing-2 !important;
}

.mb-0 {
  margin-bottom: $spacing-0 !important;
}

.mb-half {
  margin-bottom: $spacing-half !important;
}
